<!DOCTYPE html>
<html lang="en">
  <head>
    <%= dato_favicon_meta_tags %>
    <meta charset="utf-8" >
    <title><%= dato.site.global_seo.site_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="i/favicon.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:100,200,300,400,600,500,700,800,900|Nunito+Sans:100,200,300,400,500,600,700,800,900&amp;subset=latin" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
          <link href="stylesheets/style.css" rel="stylesheet" />
        <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
      </head>
  <body>


<!-- Navigation Mobile type 2 -->

<a class="open_menu color-main bg-light radius_full"><i class="fas fa-bars lh-40"></i></a>
<div class="navigation_mobile bg-light type2">
  <a class="close_menu color-main"><i class="fas fa-times"></i></a>
  <div class="px-40 pt-60 pb-60 text-center inner">
    <div><a href="#" class="f-heading f-22 link color-main mb-20">Home</a></div>
    <div><a href="#" class="f-heading f-22 link color-main mb-20">Popular</a></div>
    <div><a href="#" class="f-heading f-22 link color-main mb-20">Recent</a></div>
    <div><a href="#" class="f-heading f-22 link color-main mb-20">Featured</a></div>
    <div><a href="#" class="f-heading f-22 link color-main mb-20">Designers</a></div>
    <div><a href="#" class="f-heading f-22 link color-main mb-40">Team</a></div>

    <div><a href="#" class="f-12 link color-main op-7 text-uppercase sp-20 mb-20">Help</a></div>
    <div><a href="#" class="f-12 link color-main op-7 text-uppercase sp-20 mb-20">F.A.Q.</a></div>
    <div><a href="#" class="f-12 link color-main op-7 text-uppercase sp-20 mb-20">Support</a></div>
    <div><a href="#" class="f-12 link color-main op-7 text-uppercase sp-20 mb-20">About Us</a></div>
    <div><a href="#" class="f-12 link color-main op-7 text-uppercase sp-20 mb-20">Blog</a></div>
    <div><a href="#" class="f-12 link color-main op-7 text-uppercase sp-20 mb-20">Careers</a></div>

    <div class="socials mt-120">
      <a href="#" target="_blank" class="link color-main f-18 mx-10"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank" class="link color-main f-18 mx-10"><i class="fab fa-facebook"></i></a>
      <a href="#" target="_blank" class="link color-main f-18 mx-10"><i class="fab fa-dribbble"></i></a>
      <a href="#" target="_blank" class="link color-main f-18 mx-10"><i class="fab fa-instagram"></i></a>
      <a href="#" target="_blank" class="link color-main f-18 mx-10"><i class="fab fa-behance"></i></a>
    </div>
  </div>
</div>

<!-- Header 2 -->

<header class="pt-190 pb-120 bg-dark header_2">

  <!-- Header Menu 2 -->

  <nav class="header_menu_2 transparent pt-30 pb-30 mt-20">
    <div class="container px-xl-0">
      <div class="row justify-content-between align-items-baseline">
        <div class="col-md-4" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">
          <div class="logo color-white">Cantiere Creativo</div>
        </div>
        <div class="col-md-6 d-flex justify-content-end align-items-center" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">
          <a href="#" class="link color-white f-18 mx-15">Subscribe</a>
          <a href="#" class="link color-white f-18 mx-15">Features</a>
          <a href="#" class="btn sm action-2 mx-15">Sign Up</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="mb-3 logo color-white d-block d-xl-none text-center logo_mobile">Startup 3</div>
    <h1 class="big color-white text-center" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0"><%= dato.about_page.title %></h1>
    <div class="mw-620 mx-auto mt-35 f-22 color-white op-7 text-center text-adaptive">
      <span data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">
      <%= dato.about_page.subtitle %>
      </span>
    </div>

    <form class="row align-items-center justify-content-center no-gutters mt-70" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="500" method="POST" action="form-handler.php">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-9 d-flex flex-wrap justify-content-center justify-content-md-between holder">
        <input type="email" name="email" placeholder="Your email" class="mw-320 input lg border-transparent-white focus-white color-white placeholder-transparent-white f-20" required />
        <button class="btn action-1 lg">Send</button>
      </div>
    </form>

    <div class="color-white op-3 text-center mt-35">
      <span data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">
      By signing up, you agree to the
      <a href="#" class="link color-white">Terms of Service</a>
      </span>
    </div>

  </div>
</header>

<!-- Content 2 -->

<section class="content_2 bg-light pt-105 pb-95">
  <div class="container px-xl-0 text-center">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">
        <h2><%= dato.home.intro_text %></h2>
      </div>
      <div class="col-xl-7 col-lg-9 col-md-10" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">
        <div class="mt-35 f-18 medium color-heading op-7 text-adaptive">
          <%= dato.about_page.bio %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team 2 -->

<section class="team_2 pt-105 pb-100 text-center">
  <div class="container px-xl-0">
    <div class="row justify-content-center color-white">
      <div class="col-xl-8 col-lg-10">
        <h2 class="small" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">Our Crew</h2>
        <div class="mt-15 f-22 op-7 text-adaptive">
          <div data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">
          Samples will show you the feeling on how to play around using <br />
          the components in the website building process.
          </div>
        </div>
      </div>
    </div>
    <div class="mt-60 radius10 bg-light">
      <div class="row no-gutters">
        <%- dato.works.first(3).each do |work| %>
          <div class="col-md-4 pt-65 pb-70" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">
            <img srcset="<%= work.cover_image.file .width(100).height(100).format('pjpg').to_url %>" src="<%= work.cover_image.file.width(100).format('pjpg').to_url %>" class="radius_full" alt="" />
            <div class="mt-30 mb-15 f-22 title"><%= work.title %></div>
            <div>
              <a href="#" class="f-22 link color-heading mx-15"><i class="fab fa-twitter"></i></a>
              <a href="#" class="f-22 link color-heading mx-15"><i class="fab fa-facebook-square"></i></a>
              <a href="#" class="f-22 link color-heading mx-15"><i class="fab fa-dribbble"></i></a>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    <div data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">
      <a href="#" class="mt-70 btn border-transparent-white">View Our Designs</a>
    </div>
  </div>
</section>
<!-- Pricing Table 1 -->

<section class="pricing_table_1 bg-light pt-105 pb-100 text-center">
  <div class="container px-xl-0">
    <h2 class="small" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">Pricing Plans</h2>
    <div class="mt-15 mb-60 f-22 color-heading text-adaptive" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">
      Start with free trial. No credit card needed. Cancel at anytime.
    </div>
    <div class="row align-items-start no-gutters">
      <div class="col-lg-3">
        <div class="pt-45 radius10 noradius_right noborder_right block">
          <div class="f-22 title" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">Free</div>
          <div class="mt-10 mb-35 color-heading subtitle" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">Forever Free</div>
          <div data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">
            <div class="d-inline-block f-58 relative price">
              <span class="absolute f-16">$</span>
              <b>0</b>
            </div>
          </div>
          <div data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">
            <a href="#" class="mt-40 mb-40 btn border-gray color-main">Get Started for Free</a>
          </div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">1 GB of Space</div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="pt-45 noborder_right block">
          <div class="f-22 title" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">Starter</div>
          <div class="mt-10 mb-35 color-heading subtitle" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">Perfect for Freelancers</div>
          <div data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">
            <div class="d-inline-block f-58 relative price">
              <span class="absolute f-16">$</span>
              <b>19</b>
            </div>
          </div>
          <div data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">
            <a href="#" class="mt-40 mb-40 btn action-1">Get Started</a>
          </div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">10 GB of Space</div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">Unlimited Projects</div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">Unlimited Users</div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="pt-45 noborder_right block">
          <div class="f-22 title" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="500">Pro</div>
          <div class="mt-10 mb-35 color-heading subtitle" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="500">Perfect for Small Team</div>
          <div data-aos-duration="500" data-aos="zoom-in" data-aos-delay="500">
            <div class="d-inline-block f-58 relative price">
              <span class="absolute f-16">$</span>
              <b>49</b>
            </div>
          </div>
          <div data-aos-duration="500" data-aos="zoom-in" data-aos-delay="500">
            <a href="#" class="mt-40 mb-40 btn border-gray color-main">Get Started</a>
          </div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="500">100 GB of Space</div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="500">Unlimited Projects</div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="500">Unlimited Users</div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="500">Unlimited Dates</div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="pt-45 radius10 noradius_left block">
          <div class="f-22 title" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">Premium</div>
          <div class="mt-10 mb-35 color-heading subtitle" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">Forever Free</div>
          <div data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">
            <div class="d-inline-block f-58 relative price">
              <span class="absolute f-16">$</span>
              <b>149</b>
            </div>
          </div>
          <div data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">
            <a href="#" class="mt-40 mb-40 btn border-gray color-main">Get Started</a>
          </div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">As Much Space as Needed</div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">Unlimited Projects</div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">Unlimited Users</div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">Unlimited Dates</div>
          <div class="item" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">Unlimited File Recovery</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Feature 1 -->

<section class="feature_1 bg-light pt-105 pb-45 text-center">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <h2 class="mb-45 small" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">Our Benefits</h2>
        <div class="row justify-content-center">
          <div class="col-md-4 mb-50" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">
            <i class="fas fa-briefcase f-60 action-3"></i>
            <div class="mt-20 mb-25 f-22 title">Many Useful <br />Components</div>
            <div class="color-heading text-adaptive">
              Startup Framework contains
              components and complex blocks
              which can easily be integrated <br />
              into almost any design.
            </div>
          </div>
          <div class="col-md-4 mb-50" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="500">
            <i class="fas fa-compress-arrows-alt f-60 action-3"></i>
            <div class="mt-20 mb-25 f-22 title">Responsive <br />Layout</div>
            <div class="color-heading text-adaptive">
              We haven’t forgotten about
              responsive layout. With Startup
              Framework, you can create a <br />
              website with full mobile support.
            </div>
          </div>
          <div class="col-md-4 mb-50" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">
            <i class="fas fa-desktop f-60 action-3"></i>
            <div class="mt-20 mb-25 f-22 title">Retina <br />Ready</div>
            <div class="color-heading text-adaptive">
              Startup Framework works on <br />
              devices supporting Retina <br />
              Display. Feel the clarity in each <br />
              pixel.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer 1 -->

<footer class="footer_1 bg-light pt-75 pb-65 text-center">
  <div class="container px-xl-0">
    <div class="row justify-content-between align-items-center lh-40 links">
      <div class="col-lg-4 col-sm-6 text-sm-right text-lg-left order-1 order-lg-0" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">
        <a href="#" class="mr-15 link color-main">About</a>
        <a href="#" class="mx-15 link color-main">Policy</a>
        <a href="#" class="mx-15 link color-main">Terms</a>
      </div>
      <div class="mb-10 mb-lg-0 col-lg-auto order-0" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">
        <a href="#" class="logo link color-main">Startup 3</a>
      </div>
      <div class="col-lg-4 col-sm-6 text-sm-left text-lg-right order-2 order-lg-0" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">
        <a href="#" class="mr-15 link color-main">Contacts</a>
        <a href="#" class="mx-15 link color-main"><i class="fab fa-twitter"></i></a>
        <a href="#" class="mx-15 link color-main"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="ml-15 link color-main"><i class="fab fa-google-plus-g"></i></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="mt-10 col-xl-4 col-lg-5 col-md-6 col-sm-8" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">
        <div class="color-heading text-adaptive">
          Be sure to take a look at our <a href="#" class="link color-heading">Terms of Use</a> <br />
          and <a href="#" class="link color-heading">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- forms alerts -->
<div class="alert alert-success alert-dismissible alert-form-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Thanks for your message!
</div>
<div class="alert alert-warning alert-dismissible alert-form-check-fields" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Please, fill in required fields.
</div>
<div class="alert alert-danger alert-dismissible alert-form-error" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  An error occurred while sending data :(
</div>
<!-- popup with video -->
<div class="overlay"></div>

<div class="video_popup">
  <a class="close">
    <img srcset="i/close_white@2x.png 2x" src="i/close_white.png" alt="" />
  </a>
  <div class="d-flex align-items-center justify-content-center w-full h-full iframe_container"></div>
</div>

<script src="javascripts/slick.min.js"></script>
<script src="javascripts/aos.min.js"></script>
<script src="javascripts/jquery.maskedinput.min.js"></script>
<script src="javascripts/script.js"></script>

</body>
</html>

